.header {
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;

    .logo {
      margin-right: 20px;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .user-dropdown {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 10px;
      margin-left: 10px;
      transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);


    &:hover {
        background-color: #595959;
        .full-name {
          color: #fff;
        }
      }

      .full-name {
        margin-left: 5px;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }

  .ant-menu-item {
    &:hover {
      background-color: #595959;
    }
  }
}