.edit-expression {
  .radio {
    display: block;
    height: 50px;
    line-height: 50px;
  }

  .value-input {
    margin-left: 40px;
  }

  .var-select {
    margin-left: 24px;
    width: 200px;
  }

  .func-select {
    margin-left: 20px;
    width: 200px;
  }
}