.login-page {
  display: flex;
  //justify-content: center;
  align-items: center;

  .ant-input-affix-wrapper .ant-input {
    min-height: auto !important;
  }

  .login-form {
    margin-top: 160px;
    width: 380px;
    height: 280px;
    padding: 40px;
    border: 1px #dadada solid;
    border-radius: 10px;

    .input-icon {
      color: rgba(0, 0, 0, .25)
    }

    .forgot {
      float: right;
    }

    .login-button {
      width: 100%;
    }
  }
}