#root {
  display: flex;
  min-height: 100%;
}

/* scroll bar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #a4a4a4;
  border-radius: 2px;
}

/* ant override*/
// notification
.ant-notification-notice-description {
  word-break: break-all;
  white-space: pre-wrap;
  max-height: 178px;
  overflow-y: auto;
}

// for utils/Validator
.ant-input.error,
.ant-input-number.error,
.ant-radio-group.error .ant-radio-button-wrapper,
.ant-select.error .ant-select-selection,
.datetime-input.error .ant-input {
  border-color: #f5222d;

  &:focus {
    border-color: #ff4d4f;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }
}

/* globals */
b, strong {
  font-weight: 500 !important;
}
