.fields-viewer {
  .item {
    padding: 5px 0;
    .label {
      display: inline-block;
      width: 150px;
    }
    .value {
      display: inline-block;
      width: ~"calc(100% - 150px)";
    }
  }
}