{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 0.5%, last 2 versions, not ie <= 8"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-modules-commonjs",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "@babel/plugin-proposal-object-rest-spread",
        "react-hot-loader/babel",
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ]
}
