@header-height: 50px;

.header {
  height: @header-height;
  position: relative;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 21, 41, 0.3);

  .wrapper {
    width: 1200px;
    margin: 0 auto;

    .left {
      height: @header-height;
      float: left;
    }

    .right {
      height: @header-height;
      float: right;
    }

    .item {
      display: table-cell;
      padding: 0 8px;
      height: @header-height;
      line-height: @header-height;
      vertical-align: middle;
    }

    .dropdown {
      cursor: pointer;

      &:hover {
        background-color: #e6f7ff;
      }
    }

    .menu {
      cursor: pointer;

      &:hover {
        color: #1890ff;
        background-color: #e6f7ff;
      }
    }
  }
}